interactions:
- request:
    body: '{"amount": 9900, "currency": "INR", "description": "reflow phase6 live
      verification -- notify email", "reference_id": "reflow_live_notify_email_0001",
      "customer": {"name": "Reflow Live Test Customer", "contact": "+919876500005",
      "email": "reflow.live.notify.email@example.com"}, "notify": {"sms": false, "email":
      false}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.razorpay.com/v1/payment_links
  response:
    body:
      string: '{"accept_partial":false,"allow_full_payment":false,"amount":9900,"amount_paid":0,"cancelled_at":0,"created_at":1787443964,"currency":"INR","customer":{"contact":"+919876500005","email":"reflow.live.notify.email@example.com","name":"Reflow
        Live Test Customer"},"description":"reflow phase6 live verification -- notify
        email","expire_by":0,"expired_at":0,"first_min_partial_amount":0,"id":"plink_TT0cafNUGrKekY","notes":null,"notify":{"email":false,"sms":false,"whatsapp":false},"payment_plan":false,"payments":null,"reference_id":"reflow_live_notify_email_0001","reminder_enable":false,"reminders":[],"short_url":"https:\/\/rzp.io\/rzp\/VLUNhhqi","status":"created","updated_at":1787443964,"upi_link":false,"user_id":"","whatsapp_link":false}'
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - a3abdf33a3c149942d33265cd6e8cd14:d42209f581121659:0000000000000000:1
      X-Pam:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.razorpay.com/v1/payment_links/plink_TT0cafNUGrKekY/notify_by/email
  response:
    body:
      string: '{"success":true}'
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 13250c4da4d678d75f224f6f7d5fd324:05e7f99e3713d5cf:0000000000000000:1
      X-Pam:
      - '0'
    status:
      code: 200
      message: OK
version: 1
