interactions:
- request:
    body: '{"amount": 29900, "currency": "INR", "description": "reflow phase6 live
      verification -- idempotency probe", "reference_id": "reflow_live_idempotent_0001",
      "customer": {"name": "Reflow Live Test Customer", "contact": "+919876500002",
      "email": "reflow.live.idempotent@example.com"}, "notify": {"sms": false, "email":
      false}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.razorpay.com/v1/payment_links
  response:
    body:
      string: '{"accept_partial":false,"allow_full_payment":false,"amount":29900,"amount_paid":0,"cancelled_at":0,"created_at":1787443812,"currency":"INR","customer":{"contact":"+919876500002","email":"reflow.live.idempotent@example.com","name":"Reflow
        Live Test Customer"},"description":"reflow phase6 live verification -- idempotency
        probe","expire_by":0,"expired_at":0,"first_min_partial_amount":0,"id":"plink_TT0ZukO5RmwdTF","notes":null,"notify":{"email":false,"sms":false,"whatsapp":false},"payment_plan":false,"payments":null,"reference_id":"reflow_live_idempotent_0001","reminder_enable":false,"reminders":[],"short_url":"https:\/\/rzp.io\/rzp\/DKbJKo0I","status":"created","updated_at":1787443812,"upi_link":false,"user_id":"","whatsapp_link":false}'
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 8600e3c3bde3e44ef09a2e2e32bbe630:7e67f416d08e2e58:0000000000000000:1
      X-Pam:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"amount": 29900, "currency": "INR", "description": "reflow phase6 live
      verification -- idempotency probe", "reference_id": "reflow_live_idempotent_0001",
      "customer": {"name": "Reflow Live Test Customer", "contact": "+919876500002",
      "email": "reflow.live.idempotent@example.com"}, "notify": {"sms": false, "email":
      false}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.razorpay.com/v1/payment_links
  response:
    body:
      string: '{"error":{"code":"BAD_REQUEST_ERROR","description":"payment link with
        given reference_id: reflow_live_idempotent_0001 already exists. Please create
        a payment link with a different reference_id","metadata":[],"reason":null,"source":null,"step":null}}'
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 89a37a2a64ce4ec508aeb5167f5cd45d:dac69a4b9e6e0e79:0000000000000000:1
      X-Pam:
      - '0'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://api.razorpay.com/v1/payment_links?reference_id=reflow_live_idempotent_0001
  response:
    body:
      string: '{"payment_links":[{"accept_partial":false,"allow_full_payment":false,"amount":29900,"amount_paid":0,"cancelled_at":0,"created_at":1787443812,"currency":"INR","customer":{"contact":"+919876500002","email":"reflow.live.idempotent@example.com","name":"Reflow
        Live Test Customer"},"description":"reflow phase6 live verification -- idempotency
        probe","expire_by":0,"expired_at":0,"first_min_partial_amount":0,"id":"plink_TT0ZukO5RmwdTF","notes":[],"notify":{"email":false,"sms":false,"whatsapp":false},"payment_plan":false,"payments":null,"reference_id":"reflow_live_idempotent_0001","reminder_enable":false,"reminders":[],"short_url":"https:\/\/rzp.io\/rzp\/DKbJKo0I","status":"created","updated_at":1787443812,"upi_link":false,"user_id":"","whatsapp_link":false}]}'
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - 31e08bd8b052bea8f6242cee6e604dea:d69220bbdd477b5c:0000000000000000:1
      X-Pam:
      - '0'
    status:
      code: 200
      message: OK
version: 1
