interactions:
- request:
    body: '{"amount": 39900, "currency": "INR", "description": "reflow phase6 live
      verification -- method-restricted (upi off)", "reference_id": "reflow_live_switch_method_0001",
      "customer": {"name": "Reflow Live Test Customer", "contact": "+919876500003",
      "email": "reflow.live.switch@example.com"}, "notify": {"sms": false, "email":
      false}, "options": {"checkout": {"method": {"card": true, "netbanking": true,
      "upi": false, "wallet": true}}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.razorpay.com/v1/payment_links
  response:
    body:
      string: '{"accept_partial":false,"allow_full_payment":false,"amount":39900,"amount_paid":0,"cancelled_at":0,"created_at":1787443815,"currency":"INR","customer":{"contact":"+919876500003","email":"reflow.live.switch@example.com","name":"Reflow
        Live Test Customer"},"description":"reflow phase6 live verification -- method-restricted
        (upi off)","expire_by":0,"expired_at":0,"first_min_partial_amount":0,"id":"plink_TT0Zx74p2zSX6S","notes":null,"notify":{"email":false,"sms":false,"whatsapp":false},"options":{"checkout":{"name":""}},"payment_plan":false,"payments":null,"reference_id":"reflow_live_switch_method_0001","reminder_enable":false,"reminders":[],"short_url":"https:\/\/rzp.io\/rzp\/c6Q93h61","status":"created","updated_at":1787443815,"upi_link":false,"user_id":"","whatsapp_link":false}'
    headers:
      Content-Type:
      - application/json
      Uber-Trace-Id:
      - d73e2dcc5d136b3e4bf75c505cac0383:f77c575e6f671b13:0000000000000000:1
      X-Pam:
      - '0'
    status:
      code: 200
      message: OK
version: 1
